@page
@model FoodDeliveryAna.Web.Areas.Identity.Pages.Account.Manage.ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = FoodDeliveryAna.Web.Areas.Identity.Pages.Account.Manage.ManageNavPages.ChangePassword;
}

<div class="row">
    <div class="col-md-9">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <h3>Change password</h3>
        <form method="post">
            <div class="mb-3">
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <input asp-for="Input.OldPassword" class="form-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
