# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]emp/

# Visual Studio cache and settings
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build artifacts
*.dll
*.exe
*.app
*.pdb
*.cache
*.db
*.db-wal
*.db-shm

# Debug and release folders
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Other
*.vsidx
*.v2
*.bin
*.backup.json
*.futdcache.v2
*.dtbcache.v2